

body {
  font-size: 16px;
  color: #fff;
  background-color: #000066;
  font-family: 'Oxygen', sans-serif;

}

#header-nav{
	background-color:#666699;
	color:#fff;
	font-size:16px;
	border-radius: 0;
	border: 0;
}

#brand-nav{
	color:white;
	font-size:1.5em;
}

#brand-nav:hover{
	color:#e6f2ff;
}
#nav-item{
	color:white;
}

#nav-item:hover{
	color:#e6f2ff;
	background-color: #000066;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color:#000066;
}


.description{
	background-color: #666699;
	border: 1px solid black;
	border-radius: 10px;
	color:white;
	font-size:1em;
	padding:0 5% 5% 5%;
	margin-bottom:5%;

}

/********** Large devices only **********/
@media (min-width: 1200px) {
	.chicken-section{
		margin:2%;
	}


}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	 .chicken-section{
		margin:5%;
	}

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	  .chicken-section{
		margin:10%;
	}


}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	  .chicken-section{
		margin:10%;
	}


}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
	  .chicken-section{
		margin:10%;
	}


}